*{
	margin: 0;
	padding: 0;
}
 @font-face {
    font-family: UniSansThinCapsItalic;
    src: url(../fonts/UniSansThinCapsItalic.otf)
}
.aluma__homepage{
	width: 100%;
	/*background-image: url(../img/1920.jpg);*/
	background-position: bottom center;
	background-position-y: 100px;
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
	position: relative;
}
.aluma__homepage.fish-47{
	background-image: url(../img/fish-47/1920.jpg?20180313);
}
.aluma__homepage.fish-51{
	background-image: url(../img/fish-51/1920.jpg?20180313);
}
.aluma__homepage.fish-55{
	background-image: url(../img/fish-55/1920.jpg?20180313);
}
.title-aluma__homepage{
	padding-top: 150px;
	font-family: 'Exo 2', sans-serif;
	font-size: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.form_callback{
	bottom: 0;
	padding: 50px 0;
	width: 395px;
	position: absolute;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/bg_form.png);
	font-family: 'Open Sans', sans-serif;
	z-index: 100;
}
.form_callback__title{
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.form_callback__subtitle{
	padding: 15px 0 0;
	font-size: 16px;
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}
.form_callback input{
	display: block;
	outline: none;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #19344a;
	width: 300px;
	margin: 0 auto;
	padding: 20px 0 15px;
	text-align: center;
	color: rgba(255, 255, 255,0.5);
	font-size: 15px;
	position: relative;
}
.form_callback input::placeholder{
	text-align: center;
	color: rgba(255, 255, 255,0.5);
	font-size: 15px;
	position: relative;
}
.required_input{
	position: relative;
	display: block;
}
.form_callback_button{
	background-color: #e1762e;
	width: 300px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	display: block;
	border: none;
	border-radius: 0;
	margin: 30px auto 0;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 0;
}
.container{
	width: 85%;
	margin: 0 auto;
}
.characteristics__title{
	font-family: UniSansThinCapsItalic;
	font-size: 70px;	
	text-transform: uppercase;
	color: #fff;
	padding-top: 140px;
	text-align: left;
	margin-left: 80px;
}
.characteristics{
	text-align: center;
	background-position: top center;
	background-repeat: no-repeat;
	/*padding-bottom: 80px;*/
	/*padding-bottom: 140px;*/
	padding-bottom: 40px;
}
.characteristics.fish-47{
	background-image: url(../img/char-fish-47.jpg?20171226);
}
.characteristics.fish-51{
	background-image: url(../img/char-fish-51.jpg?20171224);
}
.characteristics.fish-55{
	background-image: url(../img/char-fish-55.jpg?20171224);
}
.characteristics.dream-6500{
	background-image: url(../img/char-dream-6500.jpg);
}
.text_char{
	text-align: left;
	/*margin-top: 520px;*/
	margin-top: 420px;
	display: inline-block;
	vertical-align: top;
}
.text_char p{
	position: relative;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px solid #657589;
	padding: 0px 0;
}
.grey_text_char{
	color: rgba(255, 255, 255,0.5);
}
.white_text_char{
	color: #fff;
	font-weight: bold;
	position: absolute;
	right: 0;
}
.text_char_middle{
	margin-left: 40px;
	margin-right: 40px;
	width: 30%;
}
.text_char_sm{
	width: 26%;
}
.text_char-last{
	width: 36%;
}
.advantages__title{
	font-family: UniSansThinCapsItalic;
	font-size: 70px;	
	text-transform: uppercase;
	color: #19344a;
	padding-top: 50px;
	text-align: left;
	margin-left: 80px;
}
.advantages__container{
	background-color: #f8f8f8;
	-webkit-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
}
.logo_right{
	position: absolute;
	right: 65px;
	top: 45px;
}
.advantages__container{
	position: relative;
}
.boat_scheme{
	margin: auto;
	display: block;
}
.modifications{
	background-color: #f8f8f8;
	padding-bottom: 50px;
	-webkit-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
}
#display_info{
	display: none;
	opacity: 0;
}
.modifications__title{
	font-family: UniSansThinCapsItalic;
	font-size: 70px;	
	text-transform: uppercase;
	color: #19344a;
	padding-top: 50px;
	text-align: left;
}
.modifications__block{
	font-size: 15px;
	color: #6a7a87;
	font-family: "Open Sans", sans-serif;

}
.boat__complectation,.modifications__block{
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
.boat__complectation p{
	font-size: 20px;
	color: #19344a;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	padding-top: 35px;
	padding-bottom: 110px;
}
.darkblue_list{
	color: #19344a;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}
.boat__complectation{
	text-align: center;
}
.num_slide{
	color: #19344a;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	border: 1px solid  #19344a;
	border-radius: 50%;
	font-size: 14px;
	padding: 10px 15px;
	margin-right: 7px;
}
.slide_complect_block p{
	color: #19344a;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
    width: 82%;
	margin-bottom: 0;
}
.slide_complect_block{
	display: inline-block;
	vertical-align: top;
}
.slide_complect_block:not(:last-child){
	margin-right: 18px;
}
.active_complectation .price_boat{
	background-image: url(../img/label_blue.png);
}
.boat_block{
	margin: 20px auto;
	height: 160px;
	width: 72px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
}
.boat_block.fish-47-1{
	background-image: url(../img/models/fish-47/small/1.png?20180304);
}
.boat_block.fish-47-2{
	background-image: url(../img/models/fish-47/small/2.png?20180304);
}
.boat_block.fish-47-3{
	background-image: url(../img/models/fish-47/small/3.png?20180304);
}
.boat_block.fish-47-4{
	background-image: url(../img/models/fish-47/small/4.png?20180304);
}
.boat_block.fish-47-5{
	background-image: url(../img/models/fish-47/small/5.png?20180304);
}
.boat_block.fish-51-1{
	background-image: url(../img/models/fish-51/small/1.png?20180304);
}
.boat_block.fish-51-2{
	background-image: url(../img/models/fish-51/small/2.png?20180304);
}
.boat_block.fish-51-3{
	background-image: url(../img/models/fish-51/small/3.png?20180304);
}
.boat_block.fish-51-4{
	background-image: url(../img/models/fish-51/small/4.png?20180304);
}
.boat_block.fish-51-5{
	background-image: url(../img/models/fish-51/small/5.png?20180304);
}
/*.boat_block.fish-51-6{
	background-image: url(../img/models/fish-51/small/6.png);
}*/
.boat_block.fish-55-1{
	background-image: url(../img/models/fish-55/small/1.png);
}
.boat_block.fish-55-2{
	background-image: url(../img/models/fish-55/small/2.png);
}
.boat_block.fish-55-3{
	background-image: url(../img/models/fish-55/small/3.png);
}
.price_boat{
	background-image: url(../img/label.png);
    background-position: top left;
    background-repeat: no-repeat;
    width: 50%;
    height: 61px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 31px;
	display: inline-block;
	vertical-align: top;
}
.order_boat{
	display: inline-block;
	font-size: 15px;
	color: #30475b!important;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 8px;
	border-bottom: 2px solid #e1762e;
	width: 48%;
	position: relative;
	vertical-align: top;
}
.order_boat:after{
	content: '';
	background-image: url(../img/arrow_right.png);
	width: 8px;
	height: 12px;
	position: absolute;
	right: 0;
	top: 5px;
}
.slider_complects{
	margin-top: 50px;
	position: relative;
}
.add_to_order{
	margin: auto;
	text-align: center;
	display: block;
	width: 320px;
	background-color: #e1762e;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	padding: 12px 0;
}
.modifications__block-1 .add_to_order{
	margin: 0;
	margin-top: 160px;
}
.info__boat-container{
	background: #f8f8f8;
	padding: 0 0 115px;
	-webkit-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
}
.info__title{
	margin-top: 30px;
	margin-left: 45px;
	margin-bottom: 30px;
	font-size: 18px;
	color: #19344a;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}
.info__subtitle{
	font-size: 16px;
	color: #19344a;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}
.yamaha{
	color: #e1762e;
}
.info__boat_block{
	margin-left: 80px;
}
.table__element{
	display: inline-block;
	vertical-align: middle;
}
.element__name{
	    width: 110px;
	font-size: 15px;
	color: #e1762e;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}
.element__more_details{
	margin-top: 10px;
	font-size: 11px;
	color: #19344a!important;
	background-color: #e6e6e6;
	width: 130px;
	text-decoration: none;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	padding: 8px 0;
}
.boat__element{
	margin-top: 27px;
}
.boat__element img{
	margin-right: 20px;
	vertical-align: top;
}
.element_quantity{
	font-size: 20px;
	color: #19344a;
    font-weight: bold;
	font-family: "Open Sans", sans-serif;
	margin-left: 40px;
	margin-right: 40px;
}
.count_minus,.count_plus{
	display: inline-block;
	width: 28px;
	font-size: 20px;
	color: #fff;
    font-weight: bold;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}
.count_minus{
	background-color: #b5bdc3;
	margin-right: 18px;
}
.count_plus{
	background-color: #19344a;
	margin-left: 18px;
}
.element_price{
	font-size: 20px;
	color: #19344a;
    font-weight: bold;
	font-family: "Open Sans", sans-serif;
	margin-right: 40px;
	width: 92px;
}
.add_to_count{
	display: block;
	width: 190px;
	font-size: 12px;
	color: #19344a!important;
    font-weight: bold;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #e1762e;
	text-align: center;
	padding: 12px 0;
}
.info__subtitle-bottom{
	margin-top: 20px;
	margin-bottom: 10px;
}
.info__boat_block-right{
	display: inline-block;
	vertical-align: top;
	width: 630px;
	float: right;
	margin-left: 70px;
	margin-right: 20px;
}
.acc_container {
    display: inline-block;
    vertical-align: top;
	margin-top: 20px;
}
.info__boat_block{
	vertical-align: top;
	display: inline-block;
}
.info__boat-descript{
	font-size: 15px;
	color: #19344a;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	margin-top: 55px;
}
.table__description{
	margin-top: 20px;
}
.table__description p{
	font-size: 15px;
	color: #6a7a87;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	padding: 10px 0;
	border-bottom: 1px solid #d2d6da;
}
.descr_char{
	float: right;
	color: #19344a;
}

.contentContainer {
	background-image: url(../img/bg_gallery.png);
}
div.contentContainer{
	padding: 0;
}
footer{
	background-color: #f8f8f8;
}
.dealer-info{
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	color: #000;
	text-transform: none;
	letter-spacing: 0;
	margin: 0;
}
.city_dealer-info{
	margin-top: 50px;
	margin-bottom: 30px;
	display: block;
}
.city_dealer-blue{
	color: #6a7a87;
}
.dealer-info a{
	color: #19344a;
	padding-left: 10px;
}
.footer_menu_link{
	font-size: 15px;
	color: #19344a!important;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 25px;
}
.footer_menu{
	text-align: center;
}
.free_call{
	letter-spacing: 0!important;
	text-transform: none!important;
	font-size: 15px!important;
	color: #19344a!important;
	font-family: "Open Sans", sans-serif;!important
}
.dealer-info p {
    text-transform: none;
}
.buttn-wrap .button-secondary {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0;
    border: none;
    background-color: #e1762e;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 24px;
    display: inline-block;
    margin: 0 0 10px 0;
    font-weight: bold;
}
.copyright{
	color: #19344a;
	padding-top: 240px;
}
.dealer-info h3 a {
    color: #19344a;
    padding-left: 10px;
    font-weight: bold;
}
.flex-col-3.dealer-info{
	text-align: right;
}
body {
    background: #fff;
}

.media-block-video{
	width: 600px;
	margin-bottom: 190px;
}

.orng_btn:hover {
    background-color: #ea5500;
    color: #fff;
    text-decoration: none;
    opacity: 1;
	cursor: pointer;
}
.element__more_details:hover{
	background-color: #19344a!important;
	color: #e6e6e6;
	text-decoration: none;
    opacity: 1;
	cursor: pointer!important;
}


.element__more_details:hover{
	background-color: #19344a!important;
    color: #fff!important;
    text-decoration: none;
    opacity: 1;
	cursor: pointer!important;
}
.call_to_order{
	margin-top: 30px;
}
.slide_complect_block:hover .price_boat{
	cursor: pointer;
	background-image: url(../img/label_blue.png);
}
.info__boat-container{
	position: relative;
	    min-height: 1100px;
}
.close_info_btn{
	position: absolute;
	top: 20px;
	right: 20px;
	background-image: url(../img/close-btn.png);
	height: 25px;
	width: 25px;
	background-size: contain;
	background-position: top center;
}
.close_info_btn:hover{
	cursor: pointer;
}
.logo-blue{
	position: absolute;
	right: 0;
	top: 130px;
}
.container-char{
	position: relative;
}
.panel {
 	max-height: 0;
    overflow: hidden;
 	transition: max-height 0.2s ease-out;
	display: inline-block;
}
.info__boat,
.info__boat_div{
	display: none;
}
.accordion.active:before {
    content: "-";
}
.accordion:before {
    content: '+';
}
#addtoorder:visited{
	color: #fff!important;
}
.table_your_order{
	background-color: #fff;
	display: block;
}
.table_order_title{
	padding: 30px 0;
	color: #6a7a87;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.container_table{
	width: 80%;
	margin: 0 auto;
}
.table_order_data{
	border-top: 1px solid #e5e5e5;
	font-size: 13px;
	color: #6a7a87;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	padding: 30px 0;
	position: relative;
}
.table_order_data span:before{
	background-image: url(../img/delete.png);
	height: 11px;
	width: 11px;
	content: '';
	position: absolute;
	left: 0;
	top: 36px;
}
.table_order_data span{
	margin-left: 20px;
	display: inline-block;
}
.table_order_col{
	display: inline-block;
	vertical-align: top;
}
.table_order_data-left{
	width: 55%;
	margin-right: -4px;
}
.table_order_data-right-1{
	margin-right: -4px;
}
.table_order_data-right .table_order_data{
	border-left: 1px solid #e5e5e5;
}
.table_order_data-right{
	width: 20%;
	text-align: center;
}
.buttons_your_order{
	margin-top: 30px;
}
.addequipment{
	background-color: #19344a;
	font-size: 15px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 20px;
	display: inline-block;
}
.choosecater{
	background-color: #8896a1;
	margin-left: 5px;
}
.order_table_container,.order_promote_container{
	display: inline-block;
	vertical-align: top;
	    width: 45%;
}
.order_promote_container{
	text-align: center;
}
.order_promote_container h4{
	font-size: 20px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0px;
}
.order_promote_container h3{
	font-size: 40px;
	color: #e1762e;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0px;
}
.order_promote_container h6{
	font-size: 16px;
	color: rgba(255,255,255,0.5);
	text-align: center;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0px;
	text-transform: none;
}
.order_promote_container p{
	font-size: 20px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0px;
	text-transform: none;
}
.order_promote_container input{
	display: inline-block;
	font-size: 25px;
	color: rgba(255, 255, 255,0.5);
	text-align: center;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0px;
	text-transform: none;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #19344a;
}
.order_promote_container input::placeholder{
	display: inline-block;
	font-size: 25px;
	color: rgba(255, 255, 255,0.5);
	text-align: center;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0px;
	text-transform: none;
	background-color: transparent;
	border: none;
	outline: none;
}
.order_promote_container {
	background-image: url(../img/bg_form.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 40px 60px;
	float: right;
}
.finish_order,
.get_order_consult{
	text-transform: uppercase;
	width: 100%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	padding: 30px 0;
	display: inline-block;
	width: 45%;
}
.finish_order:hover,
.get_order_consult:hover,
.addequipment:hover{
	cursor: pointer;
}
.finish_order{
	background-color: #19344a;
}
.get_order_consult{
	background: #e1762e;
	float: right;
}
.order_options{
	margin-top: 210px;
}
.advantages__container{
	padding-bottom: 45px;
}
.container_order{
	margin-top: 40px;
}
.info__boat-descript {
    font-size: 15px;
    color: #19344a;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-top: 55px;
    display: block;
    width: 100%;
}
.info__boat_block-right {
    display: inline-block;
    vertical-align: top;
    width: 40%!important;
	    margin-top: 20px;
}
.accordion:hover{
	cursor: pointer;
}
#addtoorder:hover,.finish_order:hover,.choosecater:hover{
	cursor: pointer;
	color: #8896a1!important;
    background-color: #e6e6e6;
}

.get_order_consult:hover,.add_to_count:hover{
	background-color: #ea5500;
    color: #fff!important;
    text-decoration: none;
    opacity: 1;
	cursor: pointer;
}
.gallery-title{
	font-family: UniSansThinCapsItalic;
	font-size: 70px;	
	text-transform: uppercase;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: left;
	margin-left: 80px;
}
.gallery{
	background-image: url(../img/bg_gallery.png);
	position: relative;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-position: top center;
}
.container_next{
	position: absolute
}
.date_gallery{
	background-color: #19344a;
    width: 250px;
    height: 90%;
    top: 0;
    margin-left: 50%;
    z-index: 0;
    position: absolute;
}
.mySlides,.mySlides_video {display:none}
.next,.next_video {
	cursor: pointer;
	position: absolute;
	width: auto;
	margin-top: 50px;
	color: rgba(255, 255, 255,0.5);
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	transition: 0.6s ease;
	right: 50px;
	text-transform: uppercase;
	width: 179px;
	text-align: left;
	
}
.next:after,.next_video:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-image: url(../img/border-arr.png);
	height: 9px;
	width: 100%;
	font-weight: 100;
}
.next:hover,.next_video:hover{
	color: #fff;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.date_gallery{
	text-align: center;
}
.date-gallery-text{
	width: 100%;
	position: absolute;
	bottom: 30px;
	text-align: center;
	font-size: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	color: #fff;
}
.month{
	color: #819ebe;
}
.video_gallery_block{
	width: 45%;
}
.video_sl{
	text-align: center;
	padding-top: 45px;
}
.gallery_videos_slider{
	background-image: url(../img/banner.jpg)
}
.next_videos{
	margin-top: 75px;
}
.orng_btn:visited,.addequipment:visited,.finish_order:visited,.choosecater:visited{
    color: #fff!important;
}
.order_boat:hover{
	border-bottom-color: #ea5500!important;
	color: #6a7a87!important;
}
section.advantages {
    margin-top: -5px;
}
.count_plus:hover{
	background-color: #b5bdc3;
    color: #fff;
	cursor: pointer;
}
.count_minus:hover{
	background-color: #19344a;
	color: #fff;
	cursor: pointer;
}
.basic {
    padding: 0;
}
#getknow{
	display: inline-block;
}
.complect_number{
	font-size: 20px;
	color: #19344a;
	font-weight: bold;
	margin-bottom: 20px;
	display: none;
}
.advantages_description,
.footer_menu_mobile,.copyright_mob{
	display: none;
}
.form_callback_button-wrapper {
		margin-top: 0;
		position: absolute;
		bottom: 60px;
		width: 90%;
		text-align: left;
		display: block;
		left: 5%;
	}
.form_callback_button-wrapper .form_callback_button{
		 width: 20%;
}
.form_callback{
	display: none;
	position: relative;
}
p.text_getknow {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 20%;
}
.close_form_btn{
	position: absolute;
	top: 20px;
	right: 20px;
	background-image: url(../img/close-form.png);
	height: 20px;
	width: 20px;
	background-size: contain;
	background-repeat: no-repeat;
}
.close_form_btn:hover{
	cursor: pointer;
}
.add_to_count i{
	display: none;
}
a.price-boat {
    font-size: 25px;
    width: 190px;
    text-align: right;
    float: right;
    font-weight: bold;
    color: #19344a;
    border-bottom: 1px solid #e1762e;
}
.modif_descr{
	margin-top: 60px;
}
.modifications__block-2{
	overflow-y: scroll;
	height: 550px;
	background-color: #fff;
	padding: 40px 25px 25px;
}
.slide_complect_block{
	width: 19%;
	margin-right: 1%;
}
/*.slide_complect_block:hover > p{
	font-weight: bold;
}*/
.button-to-right,.button-to-left{
	background: transparent;
	border: none;
	font-size: 15px;
	color: #a3adb5;
	text-transform: uppercase;
	width: 82px;
	position: relative;
	    margin-top: 90px;
}
.button-to-right{
	margin-left: 35px;

}
.button-to-left{
	margin-right: 35px;
	
}
.button-to-left:after{
	position: absolute;
	height: 9px;
	background-image: url(../img/borderbottom-left.png);
	content: '';
	display: block;
	width: 100%;
	bottom: -8px;
	left: 0;
}
.button-to-right:after{
	background-image: url(../img/borderbottom-right.png);
	position: absolute;
	height: 9px;
	content: '';
	display: block;
	width: 100%;
	bottom: -8px;
	left: 0;
}
.active_complectation p.num_slide-text{
	font-weight: bold;
}

@media screen and (max-width: 1850px){
	.order_promote_container h4{
		font-size: 15px;
	}
	.order_promote_container h3{
		font-size: 30px;
	}
	.order_promote_container h6{
		font-size: 11px;
	}
	.order_promote_container p{
		font-size: 15px;
	}
	.order_promote_container input{
		font-size: 20px;
	}
	.order_promote_container input::placeholder{
		font-size: 20px;
	}
}
@media screen and (max-width: 1800px){
	
	.info__subtitle {
    	font-size: 14px;
	}
	.element__name {
    	font-size: 13px;
	}
	.element__more_details {
		font-size: 10px;
		width: 115px;
	}
	.element_quantity {
		font-size: 16px;
		margin-left: 30px;
		margin-right: 30px;
	}
	.element_price {
		font-size: 16px;
		margin-right: 30px;
	}
	.add_to_count {
		width: 160px;
	}
	.info__boat-descript {
    	font-size: 13px;
	}
	.table__description p {
    	font-size: 13px;
	}
	.info__boat_block-right{
		width: auto;
		margin-left: 0;
    	margin-right: 60px;
	}
	.info__boat_block {
    	margin-left: 60px;
	}
	.table__description p {
    	padding: 5px 0;
	}
}
@media screen and (max-width: 1760px){
	.order_boat {
		font-size: 12px;
		width: 40%;
		margin-left: 6px;
	}
	.slide_complect_block p{
		font-size: 11px;
		width: 73%;
		line-height: 17px;
	}
	.price_boat{
		font-size: 12px;
	}
	.button-to-right, .button-to-left {
		font-size: 12px;
	}
	.button-to-left {
		margin-right: 20px;
	}
	.button-to-right{
		margin-left: 20px;
	}
	.slide_complect_block:not(:last-child) {
		margin-right: 10px;
	}
	.price_boat{
		width: 54%;
	}
}
@media screen and (max-width: 1625px){

	.order_promote_container h4{
		font-size: 12px;
	}
	.order_promote_container h3{
		font-size: 25px;
	}
	.order_promote_container h6{
		font-size: 9px;
	}
	.order_promote_container p{
		font-size: 12px;
	}
	.order_promote_container input{
		font-size: 16px;
	}
	.order_promote_container input::placeholder{
		font-size: 16px;
	}
	.order_table_container, .order_promote_container {
		display: inline-block;
		vertical-align: top;
		width: 45%;
	}
	.table_order_data{
		font-size: 11px;
	}
	.table_order_title{
		font-size: 14px;
	}
}
@media screen and (max-width: 1650px){
	.element_price{
		width: 75px;
	}
}
@media screen and (max-width: 1550px){
		.info__subtitle {
    	font-size: 12px;
	}
	.element__name {
    	font-size: 11px;
	}
	.element__more_details {
		font-size: 9px;
		width: 110px;
	}
	.element_quantity {
		font-size: 14px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.element_price {
		font-size: 14px;
		margin-right: 20px;
	}
	.add_to_count {
		width: 150px;
	}
	.info__boat-descript {
    	font-size: 11px;
	}
	.table__description p {
    	font-size: 11px;
	}
	.info__boat_block-right{
		width: auto;
		margin-left: 0;
    	margin-right: 40px;
	}
	.info__boat_block {
    	margin-left: 40px;
	}
	.table__description p {
		padding: 0;
	}
		.order_promote_container h4{
		font-size: 10px;
	}
	.order_promote_container h3{
		font-size: 20px;
	}
	.order_promote_container h6{
		font-size: 8px;
	}
	.order_promote_container p{
		font-size: 10px;
	}
	.order_promote_container input{
		font-size: 14px;
	}
	.order_promote_container input::placeholder{
		font-size: 14px;
	}
	.order_table_container, .order_promote_container {
		display: inline-block;
		vertical-align: top;
		width: 47%;
	}
	.table_order_data{
		font-size: 11px;
	}
	.table_order_title{
		font-size: 11px;
	}
}
@media screen and (max-width: 1450px){
	.text_char p {
    	font-size: 12px;
	}
	.text_char_sm {
    	width: 25%;
	}
	
}
@media screen and (max-width: 1360px){
	.text_char p {
    	font-size: 11px;
	}
	.text_char_sm {
    	width: 25%;
	}
	.dealer-info {
    	font-size: 14px;
	}
	.footer_menu_link {
    	font-size: 13px;
	}
	.buttn-wrap .button-secondary {
    	font-size: 14px;
	}
	.free_call {
    letter-spacing: 0!important;
    text-transform: none!important;
    font-size: 14px!important;
	}
	.info__boat_block {
    margin-left: 20px;
}
	.slide_complect_block:not(:last-child) {
    margin-right: 5px;
}
	.info__boat_block-right {
    
    margin-right: 20px;
	}
	.close_info_btn:hover {
		cursor: pointer;
	}
	.close_info_btn {
    position: absolute;
    top: 20px;
    right: 20px;
	}
}
@media screen and (max-width: 1775px){
	.flex-col-2 {
    width: 22%;
}
	.flex-col-3 {
    width: 28%;
}
	.title-aluma__homepage{
		font-size: 40px;
		padding-top: 150px;
	}
	.form_callback {
    padding: 30px 0;
	}
	.media-block-video {
    width: 45%;
	}
}
@media screen and (max-width: 1390px){
	.info__boat_block {
    margin-left: 0;
}
	.acc_container{
		margin-left: 1%;
	}
	.next, .next_video{
		right: 0;
	}
	
}
@media screen and (max-width: 1050px){
	.aluma__homepage{
		background-position-y: 0;
	}
	p.text_getknow{
		width: 100%;
	}
	.form_callback_button-wrapper .form_callback_button {
    width: 20%;
    display: inline-block!important;
}
	.form_callback_button-wrapper{
		text-align: center;
	}
	#display_info{
	opacity: 1;
}
	.logo-blue{
		width: 200px;
		top: 30px;
	}
	.characteristics__title,.advantages__title,
	.modifications__title{
		font-size: 40px;
		padding-top: 40px;
	}
	.characteristics.dream-6500 .characteristics__title{
		display: none;
	}
	.characteristics.dream-6500 .text_char{
		margin-top: 100px;
		margin-bottom: 500px;
	}
	.characteristics{
		padding-bottom: 30px;
	}
	.characteristics.fish-47{
		background-image: url(../img/char-sm-fish-47.jpg?20171226);
	}
	.characteristics.fish-51{
		background-image: url(../img/char-sm-fish-51.jpg?20171224);
	}
	.characteristics.fish-55{
		background-image: url(../img/char-sm-fish-55.jpg?20171224);
	}
	/*.characteristics.dream-6500{*/
		/*background-image: url(../img/char-dream-6500.png);*/
	/*}*/
	.blue-border{
		display: none!important;
	}
	.text_char{
		margin-top: 370px;
	}
	.text_char p {
		font-size: 10px;
		margin-bottom: 5px;
	}
	.text_char_middle {
		margin-left: 20px;
		margin-right: 20px;
	}
	.advantages__container {
		position: relative;
		width: 100%;
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;	
	}
	.modifications{
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;	
	}
	.slide_complect_block p {
		font-size: 10px;
		width: 100%;
		line-height: 17px;
		margin-top: 20px;
	}
	.price_boat {
    	width: 100%;
	}
	.order_boat {
		font-size: 12px;
		width: 80%;
		margin-left: 0;
	}
	.slide_complect_block {
    	width: 17%;
	}
	.buttn-wrap .button-secondary {
		font-size: 10px;
	}
	ul.footer-social-icons li {
    margin: 0 15px 0 0;
}
	.dealer-info {
    font-size: 10px;
}
	.footer_menu_link {
		font-size: 10px;
		margin-left: 15px;
	}
	.dealer-info h3 {
    	font-size: 21px;
	}
	.boat__element img {
    	margin-right: 10px;
	}
	.info__boat_block {
		margin-left: 10px;
	}
	.element__name {
    	font-size: 10px;
		width: 90px;
	}
	.element__more_details {
		font-size: 9px;
		width: 90px;
	}
	.element_quantity {
		font-size: 14px;
		margin-left: 20px;
		margin-right: 10px;
	}
	.count_minus {
    	margin-right: 8px;
	}
	.count_plus {
		margin-left: 8px;
	}
	.element_price {
		width: 56px;
		font-size: 12px;
		margin-right: 10px;
	}
	.add_to_count {
		width: 120px!important;
    	font-size: 8px;
	}
	.table__description p {
		margin-bottom: 10px;
		font-size: 8px;
	}
	.gallery_videos_slider {
		background-position: bottom center;
	}
	.next, .next_video{
		font-size: 12px;
		width: 100px;
	}
	.next:after, .next_video:after{
		 background-position: top right;
	}
	.info__title {
		margin-top: 30px;
		margin-left: 25px;
		margin-bottom: 25px;
		font-size: 15px;
	}
	.count_minus, .count_plus {
		width: 22px;
		font-size: 17px;
	}
	.info__boat-container{
		width: 100%;
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;	
	}
	.aluma__homepage.fish-47{
		 background-image: url(../img/fish-47/1024.jpg?20180313);
	 }
	.aluma__homepage.fish-51{
		background-image: url(../img/fish-51/1024.jpg?20180313);
	}
	.aluma__homepage.fish-55{
		background-image: url(../img/fish-55/1024.jpg?20180313);
	}
	.title-aluma__homepage {
		font-size: 50px;
		padding-top: 250px;
		text-align: left;
	}
	.table_order_data{
		max-height: 76px;
	}
	.form_callback_button{
		width: 100%;
	}

}
@media screen and (max-width: 780px){
	.characteristics{
		padding-bottom: 30px;
	}
	.characteristics.fish-47{
		background-image: url(../img/bg-tablet-char-fish-47.jpg?20171226);
	}
	.characteristics.fish-51{
		background-image: url(../img/bg-tablet-char-fish-51.jpg?20171224);
	}
	.characteristics.fish-55{
		background-image: url(../img/bg-tablet-char-fish-55.jpg?20171224);
	}
	/*.characteristics.dream-6500{*/
		/*background-image: url(../img/char-dream-6500.png);*/
	/*}*/
	.text_char_sm,.text_char_middle {
		width: 46%;
	}
	.text_char {
		text-align: left;
		margin-top: 360px;
	}
	.text_char-last {
		margin-top: 30px;
		margin-left: 0;
		text-align: left;
		width: 46%;
	}
	.characteristics.dream-6500 .text_char-last {
		display: none;
	}
	.wrapper_text_char {
		text-align: left;
	}
	.characteristics__title {
		font-size: 36px;
		padding-top: 30px;
		margin-left: 0;
	}
	.advantages__title, .modifications__title{
		font-size: 36px;
		padding-top: 30px;
	}
	.slide_complect_block {
		width: 45%;
		margin-bottom: 40px;
	}
	.slide_complect_block:not(:last-child) {
		margin-right: 4%;
	}
	.button-to-right, .button-to-left {
		font-size: 12px;
		position: absolute;
		top: 0;
		margin-top: 0;
	}
	.price_boat {
		width: 53%;
	}
	.modifications__container{
		position: relative;
	}
	.slider_complects {
    	padding-top: 100px;
	}
	.button-to-right{
		right: 0;
	}
	.button-to-left{
		left: 0;
	}
	.boat__complectation, .modifications__block {
		width: 47%;
	}
	.modifications__block-1 .add_to_order {
		margin: 0;
		margin-top: 30px;
	}
	.modifications__block-2{
		width: 100%;
		margin-top: 40px;
	}
	.slide_complect_block p {
		font-size: 14px;
	}
	.add_to_order {
    	width: 100%;
	}
	a.price-boat {
		font-size: 20px;
		width: 110px;
	}
	.finish_order, .get_order_consult {
		width: 49%;
	}
	.date_gallery {
		width: 180px;
		height: 90%;
		top: 0;
		margin-left: 40%;
	}
	ul.footer-social-icons li {
		margin: 0 5px 0 0;
	}
	.dealer-info a {
		padding-left: 0;
	}
	.wrap {
    	max-width: 95%;
	}
	.footer_menu_link {
		font-size: 9px;
		margin-left: 5px;
	}
	.dealer-info {
		font-size: 9px;
	}
	.buttn-wrap .button-secondary {
    font-size: 8px;
}
	.gallery-title {
		font-size: 40px; 
		/*margin-left: 0;*/
	}
	.add_to_count {
		width: 30px!important;
		height: 30px;
	}
	.add_to_count span{
		display: none;
	}
	.add_to_count i {
    	display: block;
		font-size: 12px;
    	line-height: 5px;
	}
	.aluma__homepage.fish-47{
		background-image: url(../img/fish-47/550.jpg?20180313);
	}
	.aluma__homepage.fish-51{
		background-image: url(../img/fish-51/550.jpg?20180313);
	}
	.aluma__homepage.fish-55{
		background-image: url(../img/fish-55/550.jpg?20180313);
	}
	.title-aluma__homepage {
		font-size: 50px;
		padding-top: 500px;
		text-align: center;
	}
	.title-aluma__homepage.dream-6500 {
		padding-top: 100px;
	}

}
@media screen and (max-width: 680px){

#backtoinfo {
    background-color: #19344a;
    padding: 10px 30px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin: 30px auto;
    display: block;
    width: 120px;
    color: #fff;
}
.button-to-right{
	margin-left: 35px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
}
.button-to-left{
	margin-right: 35px;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0;
}
.form_callback input {
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #19344a;
    width: 90%;
    margin: 0 auto;
    padding: 8px 0px;
    text-align: center;
    color: rgba(255, 255, 255,0.5);
    font-size: 10px;
    position: relative;
}
.form_callback {
    	top: 100px;
		height: 300px;
	}
.form_callback_button {
    background-color: #e1762e;
    width: 300px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    display: block;
    border: none;
    border-radius: 0;
    margin: 15px auto 0;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0;
}
	
.form_callback  p {
    margin: 0 0 10px;
}
.form_callback {
	margin: auto;
	width: 90%;
	position: absolute;
}
.form_callback__title{
	font-size: 10px;
}
.form_callback__subtitle {
	padding: 0px 0 0;
	font-size: 10px;
}
.title-aluma__homepage,
.characteristics__title,
.advantages__title,
.modifications__title,
.advantages__title,
.gallery-title{
	font-size: 25px;
	margin-left: 10px;
}
.advantages__container,.modifications{
	-webkit-box-shadow: none;
   	-moz-box-shadow: none;
    box-shadow: none;
	background-color: transparent;
}
.logo_right,.boat_scheme,.form_callback,.boat__complectation,.blue-border{
	/*display: none;*/
	width: 100%;
}
/*.boat__complectation_wrapper{*/
	/*width: 100%;*/
	/*text-align: center;*/
/*}*/
.aluma__homepage{
	background-position-y: 30px;
}
.aluma__homepage.fish-47{
	background-image: url(../img/fish-47/350.jpg?20180313);
}
.aluma__homepage.fish-51{
	background-image: url(../img/fish-51/350.jpg?20180313);
}
.aluma__homepage.fish-55{
	background-image: url(../img/fish-55/350.jpg?20180313);
}
	p.text_getknow{
		width: 100%;
	}
	.characteristics,
	.characteristics.fish-47,
	.characteristics.fish-51,
	.characteristics.fish-55,
	.characteristics.dream-6500{
		background-image: url(../img/bg_char.jpg);
	}
	#getknow,.advantages_description{
		display: block;
	}
	.text_char{
		margin-top: 0;
	}
	.title-aluma__homepage {
    	padding-top: 350px;
	}
	.form_callback_button-wrapper {
		margin-top: 0;
		position: absolute;
		bottom: 30px;
		width: 100%;
		text-align: center;
		display: block;
		left: 0;
	}
	.form_callback_button{
		 width: 80%;
	}
	.characteristics__title{
		padding-top: 20px;
	}
	.container {
    	width: 95%;
	}
	.modif_descr{
		margin-top: 0;
	}
	.wrapper_text_char{
		display: block;
		width: 100%;
		text-align: left;
	}
	.characteristics{
		background-size: cover;
		padding-bottom: 50px;
	}
	.text_char{
		display: inline-block;
		width: 48%;
	}
	.text_char p {
    	font-size: 9.9px;
		margin: 0!important;
	}
	.char_right{
		margin-left: 2%;
	}
	.advantages_description p{
		margin: 0!important;
		color: #30495d;
		position: relative;
		padding-left: 13px;
		font-size: 14px;
	}
	.advantages_description p:before{
		content: '';
		width: 8px;
		height: 8px;
		background-color: #01bef7;
		position: absolute;
		left: 0;
		top: 8px;
		border-radius: 50%;
	}
	.add_to_order {
		width: 100%;
	}
	
	.modifications__block{
		padding-top: 10px;
	}
	.modifications__block-1 p{
		font-size: 13px;
	}
	.modifications__block-1 {
		display: block;
		vertical-align: top;
		width: 100%;
		color: #6a7a87;
}
	.modifications__block-2{
		font-size: 10px;
		color: #6a7a87;
		width: 100%;
	}	
	.add_to_order {
		width: 100%;
		font-size: 11px;
		margin-top: 20px;
		padding: 25px 0;
	}
	.boat_block {
    	display: none;
	}
	.num_slide {
		display: block;
		width: 20px;
		text-align: center;
		height: 20px;
		color: #19344a;
		border-radius: 50%;
		font-size: 10px;
		padding: 0;
		margin-right: 0px;
		line-height: 16px;
	}
	.num_slide-text{
		display: inline-block;
		width: 255px;
		font-size: 10px;
		font-weight: bold;
	}
	.slider_complects {
    	margin-top: 30px;
	}
	.order_table_container,
	.order_promote_container {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	.complectation_row{
		display: block;
	}
	.complectation_row:first-child{
		margin-bottom: 15px;
	}
	.slider_complects {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.slide_complect_block{
		width: 42%;
	}
	.slide_complect_block:nth-child(odd){
		margin-right: 12%;
	}
	.text_char {
		display: inline-block;
		width: 100%;
		margin: 0!important;
	}
	ul.unorderedlist {
		margin: 0 0 0 1.4em;
	}

	.slider_complects {
		margin-top: 0;
	}
	.slide_complect_block{
		margin-top: 20px;
	}
	.order_boat {
    	font-size: 11px;
		padding-bottom: 5px;
	}
	.order_boat {
		opacity: 0.7;
	}
	.active_complectation .order_boat {
		opacity: 1;
	}
	.container_order {
    	margin-top: 15px;
	}
	.container_table {
    	width: 100%!important;
		padding: 0 20px;
	}
	.table_order_data,.addequipment {
		font-size: 8px;
	}
	#addtoorder {
		display: block;
		padding-left: 0;
		padding-right: 0;
		width: 60%;
		text-align: center;
		float: left;
	}
	.choosecater {
		background-color: #8896a1;
		margin-left: 2%;
		display: block;
		width: 38%;
		float: right;
		text-align: center;
	}
	.advantages,.modifications{
		background-color: #f8f8f8;
	}
	.buttons_your_order {
    	margin-top: 15px;
	}
	.order_promote_container {
		margin-top: 20px;
		padding: 30px 15px;
		float: none;
	}
	.order_promote_container h4 {
    	font-size: 15px;
		margin-bottom: 5px;
	}
	.order_promote_container h3{
		margin-bottom: 5px;
	}
	.order_promote_container h6 {
		font-size: 12px;
		font-weight: bold;
	}
	.order_promote_container p {
		font-size: 15px;
	}
	.order_options {
		margin-top: 5px;
	}
	.finish_order, .get_order_consult{
		margin-top: 15px;
	}
	.finish_order, .get_order_consult {
		text-transform: uppercase;
		width: 100%;
		font-size: 11px;
		color: #fff;
		text-align: center;
		font-weight: bold;
		font-family: "Open Sans", sans-serif;
		padding: 25px 0;
		display: block;
		width: 100%;
		float: none;
	}
	.advantages {
		margin-top: 0;
	}
	.advantages__container {
		padding-bottom: 20px;
	}
	.gallery-title{
		padding-top: 20px;
    	padding-bottom: 20px;
		margin-bottom: 0;
	}
	
	.wrap {
    	max-width: 95%;
		padding: 0;
	}
	.flex-col-6,
	.flex-col-2,
	.flex-col-3{
    	width: 100%;
	}
	.copyright {
    	padding-top: 0px;
	}
	.dealer-info{	
    	text-align: left!important;
	}
	footer {
		padding: 20px 0;
	}
	.footer_menu_link {
    	font-size: 10px;
		margin: 0 3px;
	}
	.gallery{
		padding-bottom: 75px;
	}
	ul.footer-social-icons {
		margin: 20px 0;
		padding: 0;
	}
	.city_dealer-info {
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.free_call {
		font-size: 9px!important;
		margin-bottom: 0;
	}
	.dealer-info h3 a {
		color: #19344a;
		padding-left: 0px;
		font-weight: bold;
		padding: 0;
		margin: 0;
		font-size: 22px;
	}
	.dealer-info h3 {
		font-size: 0;
		margin: 0;
	}
	.next_videos {
    	margin-top: 0;
	}
	.video_gallery_block {
		width: 100%;
	}
	.footer_menu{
		display: none;
	}
	.footer_menu_mobile{
		display: block;
		margin-bottom: 15px;
	}
	.flex-col-2 {
		width: 75%;
		margin: 0 auto;
	}
	.city_dealer-info {
		margin-top: 15px;
		margin-bottom: 0px;
		font-size: 12px;
	}
	.dealer-info{
		font-size: 12px;
	}
	p{
		line-height: inherit!important;
	}
	.flex-col-3.dealer-info {
		width: 75%;
		margin: auto;
	}
	.buttn-wrap {
		margin: 0;
	}
	.buttn-wrap .button-secondary {
		font-size: 9px;
		margin: 0 0 20px 0;
		font-weight: bold;
		display: block;
		text-align: center;
	}
	.copyright_mob{
		display: block;
		font-size: 12px;
		color: #19344a;
	}
	.complect_number{
		font-size: 15px;
		color: #19344a;
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		display: block;
		text-align: center;
		padding-bottom: 15px;
		display: block;
	}
	.modifications__title{
		margin-bottom: 0;
	}
	h2.advantages__title {
		padding-top: 10px;
	}
	.media-block-mob{
		display: none;
	}
	.next, .next_video{
		font-size: 9px;
		right: 0px;
		width: 50px;
		margin-top: 20px;
	}
	.next:after, .next_video:after{
		background-image: url(../img/arr-sm.png);
		background-repeat: no-repeat;
		background-position: top right;
		height: 4px;
		bottom: -4px;
	}
	.date_gallery {
		background-color: #19344a;
		width: 110px;
		height: 93%;
		top: 0;
		margin-left: 43%;
		z-index: 0;
		position: absolute;
	}
	.date-gallery-text {
		width: 100%;
		position: absolute;
		bottom: 0px;
		text-align: center;
		font-size: 11px;
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		color: #fff;
	}
	.next_video{
		margin-top: 10px;
	}
	.video_sl{
		padding-top: 15px;
	}
	.video_gallery_block{
		margin-bottom: -20px;
	}
	.slicknav_menu {
		margin: -60px 0 0 10px;
	}
	.info__boat_block {
    	margin-left: auto;
		margin-right: auto;
    	float: none;
		width: 95%!important;
		display: block;
}
	.info__boat-container{
		width: 100%!important;
		
	}
	.add_to_count{
		display: inline-block;
		width: 25px;
		overflow: hidden;
		height: 25px;
		padding: 0;
		position: relative;
	}
	.add_to_count i{
		 line-height: 26px;
		display: block;
	}
	.add_to_count span{
		display: none;
	}
	.form_callback_button-wrapper .form_callback_button{
		width: 60%;
	}
	.count_minus, .count_plus {
		display: inline-block;
		width: 21px;
		font-size: 16px;
	}
	.element__more_details {
		font-size: 8px;
		width: 100px;
	}
	.element_price {
		font-size: 11px;
		margin-right: 10px;
	}
	.info__title {
		margin-top: 40px;
		margin-left: 30px;
		margin-bottom: 20px;
		font-size: 14px;
	}
	.acc_container {
		margin-top: 20px;
		display: block;
	}
	.blue-border.info__boat_div{
		display: none!important;
	}
	.info__boat-container{
		min-height: auto;
		padding: 35px 0 35px;
	}
	.element_price {
		position: absolute;
		width: 55px;
		font-size: 11px;
	}
	.element_quantity {
		font-size: 14px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 36px;
	}
	.boat__element {
    	position: relative;
	}
	.info__title {
		margin-top: 20px;
		margin-left: 2.5%;
	}
	
	/***table***/
	.boat__element img {
		margin-right: 10px;
		vertical-align: bottom;
	}
	.table__element {
    vertical-align: bottom;
}
	.element__more_details {
    font-size: 10px;
    width: 110px;
}
	.element__name {
    font-size: 12px;
    margin-bottom: 0;
}
	.count_minus, .count_plus {
    display: inline-block;
    width: 31px;
    font-size: 20px;
    height: 31px;
}
	.add_to_count {
    vertical-align: bottom;
    display: inline-block;
    width: 40px;
    overflow: hidden;
    height: 40px;
    padding: 0;
    position: relative;
}
	.add_to_count i {
    font-size: 18px;
    line-height: 37px;
    display: block;
}
.element_price {
    position: absolute;
    width: 71px;
    left: 200px;
    font-size: 14px;
	overflow: hidden;
    height: 37px;
    line-height: 17px;
}
	#addtoorder {
    display: block;
    width: 100%;
    float: none;
}
	.slide_complect_block {
    margin-top: 20px;
    display: inline-block;
    width: 42%;
}

	.slide_complect_block p{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.button-to-right, .button-to-left{
		top: 0;
		position: absolute;
	}
	
	
	.slider_complects {
    margin-top: 0;
    padding-top: 46px;
}
	.modifications__title {
    margin-bottom: 20px;
}
	.slide_complect_block:nth-child(odd) {
    margin-left: 0;
    float: right;
    margin-right: 0!important;
}
	.modifications__block-1 .add_to_order {
		margin: 15px auto;
	}
	.info__boat_block-right{
		display: none;
	}
	.info__boat-container{
		position: relative;
	}
	.info__boat_block-right {
		display: none;
		position: absolute;
		z-index: 99;
		top: 0;
		width: 100%!important;
		padding: 0 2.5%;
		left: 0;
		background: #f8f8f8;
		height: 100%;
	}
	.table_order_title {
    font-size: 10px;
}
}
@media (max-width: 1024px){
.slicknav_menu img {
    max-width: 200px;
}
}
@media (max-width: 640px) and (orientation: landscape){
.slicknav_menu img {
    max-width: 130px;
}
	}
@media (max-width: 640px){
.slicknav_menu img {
    max-width: 220px;
	
}
img.menu-boat {
    display: inline-block;
}
}
@media (max-width: 600px) {
	.price_boat {
    font-size: 10px;
    text-align: center;
    display: block;
    width: 100%!important;
}
	.order_boat {
    font-size: 11px;
    padding-bottom: 5px;
    width: 100%;
}
	.slide_complect_block{
		width: 45%;
	}
}
@media (max-width: 480px) and (orientation: landscape){
.slicknav_nav li a img {
    max-width: 120px;
}
}
@media (max-width: 568px){
.slicknav_hidden li a img, .slicknav_hidden img {
    max-width: 150px;
}
}
@media (max-width: 568px){
.slicknav_menu img {
    max-width: 150px;
}
}
@media (max-width: 480px) {
	.slicknav_menu img {
       width: 120px;
}	
	.boat__element img {
    	margin-right: 10px;
	}
	.logo-blue{
		display: none;
	}
	
	
}
@media (max-width: 385px) {
	.element__more_details {
    font-size: 9px;
    width: 90px;
}
	.element__name{
		width: 90px;
		font-size: 11px;
	}
	.count_minus, .count_plus {
    display: inline-block;
    width: 26px;
    font-size: 16px;
    height: 29px;
}
	.element_price{
		left: 180px;
	}
	.add_to_count i {
    font-size: 16px;
    line-height: 35px;
	}
	.add_to_count{
		width: 38px;
		height: 38px;
	}
	.boat__element img {
    margin-right: 10px;
    width: 45px;
	}
	.count_minus{
		margin-right: 10px;
	}
	.count_plus{
		margin-left: 10px;
	}
	.element_price {
    left: 165px;
    overflow: hidden;
    height: 37px;
    line-height: 17px;
}
	a.price-boat {
    font-size: 22px;
    width: 150px;
	}
}
@media (max-width: 360px) {
	.title-aluma__homepage {
		padding-top: 250px;
	}
}